/* src/components/CSS/ProgressSteps.css */
.step {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .step.active {
    color: #FE5F55;
  }

.progress-bar-orange {
    background-color: #FE5F55;
  }

  .progress-bar-orange .progress-bar {
    background-color: #FE5F55;
  }
  
.progress-bar-darkblue{
    background-color: #3D5A80;
}

.progress-bar-darkblue .progress-bar {
    background-color: #3D5A80;
  }
.container{
    height: 6rem;
}
.text-center{
    height: 0;
}